.mapContainer {
  display: flex;
  flex: 1 0 auto;
  overflow: hidden;

  .station-marker {
    background-color: ButtonFace;
    padding: 1em;
    border-radius: 5px;
    color: black;
    max-width: 5em;
    transition: max-width .1s, background-color .2s;

    &.zoom-WORLD {
      background-color: transparent;
      max-width: 25px;
    }

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .oslobysykkel-logo {
      width: 25px;
    }

    &:not(.has-bikes-available) {
      @extend .lock-no-bike-available
    }

    &:not(.has-locks-available) {
      @extend .bike-no-lock-available
    }

    &:not(.has-locks-available):not(.has-bikes-available) {
     @extend .no-bike-no-lock-available
    }

    h2 {
      font-size: 10pt;
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.zoom-DETAIL {
      max-width: 10em;

      h2 {
        white-space: normal;
        overflow: visible;

      }
    }

    .bikes, .locks {
      font-size: 14pt;
    }
  }
}

.legend {
  flex: 0 0 5px;
  display: flex;
  font-size: 10pt;
  padding: 0.3em 1em;
  justify-content: space-evenly;

  > div {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    > img {
      margin-right: 5px;
    }
  }

  img {
    height: 15px;
  }
}

.bike-no-lock-available {
  filter: hue-rotate(180deg);
}

.lock-no-bike-available {
  filter: hue-rotate(90deg);
}

.no-bike-no-lock-available {
  filter: grayscale(100%);
}